/*Fonts*/
@font-face {
    font-family: 'Barlow';
    src: url("../fonts/barlow/barlow-regular.woff2") format(woff2);
    font-display: swap;
}

@font-face {
    font-family: 'FjallaOne';
    src: url("../fonts/fjalla-one/fjallaone-regular.woff2") format(woff2);
    font-display: swap;
}

/*Body Styling*/
body {
    font-family: "Barlow", sans-serif;
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#body-container {
    margin-top: 20px;
}

/*Typography*/

h2 {
    font-family: "FjallaOne", 'Franklin Gothic Medium';
    letter-spacing: 3px;
    font-size: 200%;
    font-weight: 900;
    padding-top: 30px;
    text-transform: uppercase;
}

h3 {
    font-family: "FjallaOne", 'Franklin Gothic Medium';
    transform: scaleY(0.8);
    padding-top: 20px;
    text-transform: uppercase;
}

/*Containers*/
.containers {
    padding-top: 50px;
    padding-bottom: 50px;
}

.dark-container {
    background-color: black;
    color: white;
}

.light-container {
    background-color: white;
    color: black;
}

/*Banner*/
#banner {
    color: black;
    background-color: #b2f71d;
    position: fixed;
    z-index: 2;
    width: 100%;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    padding: 7px;
    opacity: 0.9;
    animation: blinker 2s step-start 5;
}

@keyframes blinker {
    50% {
        background-color: white;
        color: #000000;
    }
}

#banner a {
    text-decoration: none;
    color: black;
}

/*Head Section*/

#header-container {
    padding-top: 50px;
}

#head-section {
    padding-bottom: 30px;
    text-align: center;
}

#org-logo {
    height: 105px;
    width: 100px;
    filter: invert(100%);
}

#org-name {
    font-family: "Fjalla One", 'Franklin Gothic Medium';
    margin: 0;
    padding: 0;
    display: inline-block;
    vertical-align: text-top;
    letter-spacing: 3px;
    font-size: 60px;
}

#org-name a {
    color: #b2f71d;
    text-decoration: none;
}

/*Navigation Section*/
#gym-menu {
    margin-bottom: 20px;
}

#gym-menu a {
    text-decoration: none;
    color: white;
    font-size: 115%;
    border: solid white 3px;
    height: auto;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
}

#gym-menu a i {
    display: block;
    padding-bottom: 10px;
    padding-top: 10px;
}

#gym-menu a:hover {
    border-width: 3px;
    border-color: #b2f71d;
}

#gym-menu #active {
    border-color: #b2f71d;
    border-width: 3px;
}

#gym-menu #active span {
    color: #b2f71d;
}

/*Full Width Image*/

#full-width-cont {
    height: 500px;
    width: 100%;
    overflow: hidden;
}

#full-width-image {
    background: url("../images/full-width.webp") no-repeat center top;
    background-size: cover;
    height: 500px;
    width: 100%;
    border-style: none;
    padding: 0;
}

/*Get Stated and Personal trainer section*/

.textbox-cont {
    height: auto;
    width: 100%;
    align-content: center;
    margin: 0;
}

.textbox-cont-text p {
    margin-left: auto;
    margin-right: auto;
}

.images-cont {
    height: 80vh;
    padding: 0;
}

#images-cont-gs {
    background: url("../images/get-started.webp") no-repeat center;
    background-size: cover;
    height: 80vh;
    width: auto;
}

#images-cont-pt {
    background: url("../images/pt-bg.webp") no-repeat center;
    background-size: cover;
    height: 80vh;
    width: auto;
}

#join-us{
    text-transform: uppercase;
}

#join-us a{
    color: #000000;
    font-weight: 800;
}

/*Animation*/
@keyframes zoomin {
    from {
        transform: scale(0.9);
    }

    to {
        transform: scale(1.0);
    }
}

/*Animation - Initial state */
.animate {
    opacity: 0;
    transition: opacity 2s;
}

.animate.in-view {
    opacity: 1;
    animation: zoomin 2s forwards;
}

/*Facilities*/

#faci-heading {
    padding-bottom: 50px;
}

.group-cont img {
    width: 80px;
    height: 80px;
    filter: brightness(0) invert(1);
}

.group-cont img:hover {
    width: 85px;
    filter: none;
}

.faci-p {
    padding: 0;
}

/*Testimonials*/

#testimonial-heading {
    padding-bottom: 30px;
}

.testimonial-groups p {
    min-height: 200px;
}

.testimonial-groups img {
    width: 248px;
    height: 310px;

}

/*Membership Plans*/
.plans-container {
    border-radius: 5px;
}

#membership-h2 {
    margin-bottom: 20px;
}

.pass {
    font-size: 200%;
}

.plans-container p {
    text-transform: uppercase;
}

.plans-container i {
    font-size: larger;
}

.plans-container p .green {
    color: #b2f71d;
    ;
}

.plans-container p .red {
    color: #b2f71d;
    ;
}

.plans-container button {
    margin: 20px;
    padding: 10px 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: bolder;
    border-style: none;
    border-radius: 5px;
}

.plans-container button:hover {
    background-color: #b2f71d;
    color: black;
}

.button {
    background-color: white;
    width: max-content;
    margin-inline: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-style: none;
    border-radius: 5px;
    padding: 10px 20px;
}

.button a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: bolder;
    font-size: 130%;
}

.plans-container .button:hover {
    background-color: #b2f71d;
}

/*Gym Perks*/
.sales-group {
    margin-top: 20px;
}

.group-1 {
    background-color: #e41023;
    padding: 10px 10px;
    box-shadow: 5px 5px #f3c0c059;
}

.percentage-off {
    font-size: 350%;
    text-shadow: 10px 15px 20px #000000;
}

.group-name {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 100%;
    letter-spacing: 4px;
    text-shadow: 10px 15px 20px #000000;
}

.group-2 h3 {
    font-size: 150%;
}

/*Membership Queries*/
#membership-para {
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 600;
}

#membership-para a {
    color: black;
}

#membership-para a:hover {
    text-decoration: underline;
}

/*Gallery*/
#gallery-container {
    margin-top: 50px;
    margin-bottom: 50px;
}

#gallery div img {
    margin-top: 5px;
    margin-bottom: 5px;
}

/*Schedules*/
#classes,
#swimming,
#sauna {
    text-align: center;
    padding-bottom: 50px;
}

#classes .tab,
#swimming .tab,
#sauna .tab {
    overflow: hidden;
}

#classes .tab button,
#swimming .tab button,
#sauna .tab button {
    background-color: inherit;
    border: solid 1px black;
    outline: none;
    cursor: pointer;
    padding: 1%;
    transition: 0.3s;
    font-size: 100%;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 1%;
    margin-bottom: 1%;
    text-decoration: none;
    color: #000000;
}

#classes .tab button:hover,
#swimming .tab button:hover,
#sauna .tab button:hover {
    background-color: #b2f71d;
    color: black;
}

#classes .tab button.active,
#swimming .tab button.active,
#sauna .tab button.active {
    background-color: #b2f71d;
    color: black;
}

#classes .tabcontent,
#swimming .tabcontent,
#sauna .tabcontent {
    display: none;
    padding: 6px 12px;
    border: none;
}

.classes-schedule {
    margin-top: 20px;
    margin-bottom: 20px;
}

.classes-schedule th,
.classes-schedule tr,
.classes-schedule td {
    text-align: center;
}

.classes-schedule th {
    font-weight: 800;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 10px;
}

.classes-schedule th,
.classes-schedule tr td {
    text-align: left;
    padding-right: 20px;
    padding-left: 20px;
}

.classes-schedule tr td {
    text-transform: capitalize;
}

.classes-schedule tr:hover {
    background-color: #b2f71d;
    color: black;
}

#swimming .tab button {
    border: solid 1px white;
    color: white;
}

.download {
    background-color: white;
    margin-top: 20px;
    border: solid 2px black;
    width: max-content;
    margin-inline: auto;
    padding: 1%;
    margin-top: 25px;
    margin-bottom: 25px;
}

.download-a {
    width: max-content;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    color: black;
}

.download:hover {
    background-color: #b2f71d;
}

/*Contact Us*/
#form-background {
    position: relative;
    overflow: hidden;
}

#form-background img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 320px;
    height: 500px;
    margin-top: -200px;
    margin-left: -125px;
    opacity: 0.1;
    z-index: -1;
}

#form-intro {
    margin: auto;
    border: solid 2px black;
    width: 200%;
    margin-bottom: 20px;
}

table {
    margin-left: auto;
    margin-right: auto;
}

form {
    padding-left: 20px;
    padding-right: 20px;
}

td {
    padding-bottom: 1%;
}

td h3,
td p {
    text-align: center;
}

.labels {
    text-transform: capitalize;
    font-weight: 500;
}

.input {
    text-align: right;
}

input[type=text],
input[type=email],
textarea,
.input #title {
    border: 2px solid black;
    border-radius: 4px;
    width: 100%;
    opacity: 0.7;
}

input[type=text]:focus,
input[type=email]:focus,
textarea:focus,
.input #title:focus {
    background-color: #b2f71d;
    font-weight: 700;
}

#cells-left {
    text-align-last: left;
}

.form-left {
    text-align: left;
}

.button-gym {
    margin-top: 10px;
    padding: 10px 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: bolder;
    border-style: none;
    border-radius: 5px;
}

.button-gym:hover {
    background-color: #b2f71d;
    color: black;
}

/*Thank you*/
#thank-you {
    text-align: center;
    vertical-align: middle;
    margin: auto 3%;
    padding-top: 50px;
    padding-bottom: 50px;
}

#thank-you h2 {
    padding-bottom: 20px;
    font-size: 400%;
}

/*Back to top*/

#back-to-top-btn a {
    position: fixed;
    top: 90%;
    left: 90%;
    transform: translate(-50%, -50%);
    padding: 5px 10px;
    width: max-content;
    background-color: #b2f71d;
    color: black;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
}

#back-to-top-btn a:hover {
    border: solid 4px black;
}

#back-to-top-btn {
    position: fixed;
    top: 90%;
    left: 90%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

/*Footer*/
footer {
    margin-top: auto;
}

#footer-section {
    background-color: black;
    color: white;
    padding: 40px 20px 10px 20px;
}

.footer-group p {
    line-height: 1.2;
}

#social-icons p {
    display: inline-block;
}

.footer-bold {
    font-weight: 700;
    color: #b2f71d;
    text-transform: uppercase;
}

#footer-phone {
    color: white;
    text-decoration: none;
}

#social-icons a {
    text-decoration: none;
    color: white;
    font-size: 150%;
    padding-right: 10px;
}

#social-icons a:hover {
    color: #b2f71d
}

#copyright-section {
    text-align: center;
    padding: 10px;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 80%;
}

/*404*/
#page-not-found {
    text-align: center;
    padding-bottom: 20px;
}

#page-not-found h2 {
    font-size: 400%;
    letter-spacing: 20px;
}

#page-not-found h3 {
    font-size: 300%;
    letter-spacing: 5px;
}

#page-not-found p {
    font-size: 150%;
    letter-spacing: 5px;
    margin: 20px;
    font-weight: 700;
}

/*Media Queries*/

/* X-Large devices (larger desktops, 1200px and up)*/
@media (min-width: 1200px) {

    /*Typography*/
    h2 {
        letter-spacing: 5px;
        font-size: 300%;
    }

    h3 {
        transform: scaleY(1);
        padding-top: 20px;
        font-size: 200%;
    }

    p,
    th,
    td,
    a,
    button {
        font-size: 120%;
        letter-spacing: 4px;
    }

    /*Get started and personal trainer*/
    .textbox-cont-text p {
        margin-left: 40px;
        margin-right: 40px;
        font-size: 140%;
    }

    .images-cont {
        height: 70vh;
    }

    #images-cont-gs {
        height: 70vh;
    }

    #images-cont-pt {
        height: 70vh;
    }

    /*Facilities*/
    .faci-p {
        padding: 20px;
    }

    /*Testimonials*/
    .testimonial-groups p {
        min-height: 300px;
    }

    /*Membership plans*/
    .plans-container {
        border-radius: 15px;
    }

    /*Gym Perks*/
    .sales-group {
        margin-right: 20px;
    }

    .group-name {
        font-size: 140%;
    }

    /*Back to top*/
    #back-to-top-btn a {
        top: 95%;
        left: 92%;
    }

    #back-to-top-btn {
        top: 95%;
        left: 92%;
    }

    #page-not-found p {
        font-weight: 700;
    }

    /*Gallery*/
    #gallery div img {
        width: 261px;
        height: 261px;
    }
}

/* XX-Large devices (larger desktops, 2500px and up)*/
@media (min-width: 2500px) {

    /*Typography*/
    h2 {
        letter-spacing: 5px;
        font-size: 800%;
    }

    h3 {
        transform: scaleY(1);
        padding-top: 20px;
        font-size: 600%;
    }

    p,
    th,
    td,
    button {
        font-size: 340%;
        letter-spacing: 4px;
    }

    /*Head Section*/
    #header-container {
        padding-top: 10px;
    }

    #head-section {
        padding-bottom: 50px;
    }

    #org-logo {
        height: 240px;
        width: 230px;
    }

    #org-name {
        letter-spacing: 4px;
        font-size: 120px;
    }

    /*Navigation Section*/
    #gym-menu {
        margin-bottom: 50px;
    }

    #gym-menu a {
        font-size: 415%;
        border: solid white 10px;
        font-weight: 700;
    }

    #gym-menu a i {
        padding-bottom: 20px;
        padding-top: 20px;
    }

    #gym-menu a:hover {
        border-width: 10px;
    }

    #gym-menu #active {
        border-width: 10px;
    }

    /*Full Width Image*/

    #full-width-cont {
        height: 800px;
    }

    #full-width-image {
        background: url("../images/full-width.webp") no-repeat center top;
        background-size: cover;
        height: 800px;
    }

    /*Get started and personal trainer*/
    .textbox-cont-text p {
        margin-left: 40px;
        margin-right: 40px;
        font-size: 340%;
    }

    /*Facilities*/

    .group-cont img {
        width: 180px;
        height: 180px;
    }

    .group-cont img:hover {
        width: 185px;
    }

    /*Testimonials*/
    .testimonial-groups p {
        min-height: 800px;
    }

    .testimonial-groups img {
        height: 600px;

    }

    .membership-para a {
        font-size: 100%;
    }

    /*Membership Plans*/
    .pass {
        font-size: 500%;
        padding-top: 50px;
        padding-bottom: 30px;
    }

    .plans-container h4 {
        font-size: 400%;
        padding-bottom: 30px;
    }

    .plans-container p {
        padding-bottom: 20px;
    }

    .button {
        font-size: 300%;
        margin-bottom: 50px;
    }

    /*Gym Perks*/
    .percentage-off {
        font-size: 550%;
    }

    .group-name {
        font-size: 300%;
    }

    .group-2 h3 {
        font-size: 350%;
    }

    /*Gallery*/
    #gallery-container {
        max-width: none;
    }

    #gallery div img {
        width: 586px;
        height: 586px;
    }

    /*Schedules*/
    #classes .tab button,
    #swimming .tab button,
    #sauna .tab button {
        font-size: 360%;

    }

    .download a {
        font-size: 340%;
    }

    /*Contact us*/
    .form-100-per {
        font-size: 100%;
    }

    input[type="checkbox"] {
        zoom: 3.5;
    }

    #thank-you h2 {
        padding-bottom: 20px;
        font-size: 700%;
    }

    /*Back to top button*/
    #back-to-top-btn a {
        font-size: 340%;
        top: 85%;
        left: 90%;
    }

    #back-to-top-btn {
        top: 85%;
        left: 90%;
    }

    #back-to-top-btn a:hover {
        border: solid 10px black;
    }

    /*404*/
    #page-not-found {
        margin-top: 50px;
    }

    #page-not-found h2 {
        font-size: 700%;
    }

    #page-not-found h3 {
        font-size: 500%;
    }

    #page-not-found p {
        font-size: 350%;
    }

}

/* Large devices (desktops, between 992-1199px)*/
@media (max-width: 1199.98px) {

    /*Full width*/
    #full-width-cont {
        height: 379px;
    }

    #full-width-image {
        background: url("../images/full-width_1200.webp") no-repeat center top;
        height: 379px;
    }

    .textbox-cont-text p {
        margin-left: 40px;
        margin-right: 40px;
        font-size: 140%;
    }

    /*Testimonial*/
    .testimonial-groups p {
        min-height: 255px;
    }

    /*Gallery*/
    #gallery div img {
        width: 216px;
        height: 216px;
    }
}

/* Medium devices (tablets, between 768-991px)*/
@media (max-width: 991.98px) {
s
    /*Full Width*/
    #full-width-cont {
        height: 314px;
        width: 100%;
    }

    #full-width-image {
        background: url("../images/full-width_992.webp") no-repeat center top;
        height: 314px;
        width: 100%;
    }

    /*Menu*/
    #gym-menu a {
        font-size: 90%;
    }

    #social-icons {
        display: inline;
    }

    /*Testimonial*/
    .testimonial-groups p {
        min-height: 150px;
    }

    /*Gym Perks*/
    .sales-group {
        padding: 1%;
    }

    .pass {
        font-size: 245%;
    }
    /*Gallery*/
    #gallery div img {
        width: 216px;
        height: 216px;
    }
}

/*Small devices (landscape phones,between 576-767px)*/
@media (max-width: 767.98px) {

    /*Full Width*/
    #full-width-cont {
        height: 243px;
        width: 100%;
    }

    #full-width-image {
        background: url("../images/full-width_768.webp") no-repeat center top;
        height: 243px;
        width: 100%;
    }

    /*Header*/
    #org-name {
        font-size: 300%;
    }

    /*Menu*/
    .navtext {
        margin-top: 2%;
        margin-bottom: 2%;
    }

    #gym-menu {
        padding-right: 1%;
        padding-left: 1%;
    }

    #gym-menu a {
        font-size: 100%;
    }

    /*Facilities*/
    .faci-p {
        display: none;
    }

    /*Testimonial*/
    .testimonial-groups p {
        min-height: 180px;
        font-size: 90%;
    }

    /*Gym Perks*/
    .group-1 {
        margin-left: 15%;
        margin-right: 15%;
    }

    .group-2 {
        margin-left: 10%;
        margin-right: 10%;
    }

    /*Gallery*/
    #gallery div img {
        width: 246px;
        height: 246px;
    }

    /*Schedules*/
    .tab button {
        padding: 2%;
        margin-top: 2%;
        margin-bottom: 2%;
        font-size: 90%;
        margin-right: 1%;
    }

    .classes-schedule th,
    .classes-schedule tr td {
        padding-right: 10px;
        padding-left: 10px;
    }

    /*Back to top*/
    #back-to-top-btn a {
        top: 95%;
        left: 85%;
    }

    #back-to-top-btn {
        top: 95%;
        left: 85%;
    }

    /*general rule to hide elements on small devices*/
    .hide-small-device {
        display: none;
    }
}

/*X-Small devices (portrait phones, screen size of 575px and less)*/
@media (max-width: 575.98px) {

    /*Full width image*/
    #full-width-cont {
        height: 182px;
    }

    #full-width-image {
        background: url("../images/full-width_576.webp") no-repeat center top;
        height: 182px;
    }

    /*Testimonial*/
    .testimonial-groups p {
        min-height: 150px;
    }

    /*Gym Perks*/
    .group-1 {
        margin-left: 10%;
        margin-right: 10%;
    }

    .group-2 {
        margin-left: 5%;
        margin-right: 5%;
    }

    /*Gallery*/
    #gallery div img {
        width: 551px;
        height: 551px;
    }

    /*Schedules*/
    .classes-schedule th {
        padding-right: 5px;
    }

    .classes-schedule tr td {
        font-size: 80%;
        padding-left: 0;
        padding-right: 1px;
    }

    /*Footer*/
    #add-social {
        display: flex;
        align-items: flex-end;
    }

    #social-icons {
        display: inherit;
    }

    #addr {
        width: 50%;
    }

    /*Back to top*/
    #back-to-top-btn a {
        left: 76%;
        top: 90%;
    }

    #back-to-top-btn {
        left: 76%;
        top: 90%;
    }

}